* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background: #16222a;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.button {
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
}
